target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


# DON'T DELETE!!!
application.propteries

/src/main/resources/application.properties
/src/main/resources/static/main_b.css
/src/main/resources/templates/fragments/menu_b.html
