body {
    background-color: #5A586B;
}
.fill {
    background-color: #45435E;
    border-radius: 5px;
    margin-top:-15px;
}
h2 {
    color: white;
}



#menu {
    margin-right: -15px;
    margin-left: -15px;
}
.navbar-inverse {
    background-color:#273449;
}
.navbar {
    border:0px;
}
.navbar-brand {
    padding: 0px;
}

.movie-block {
    padding-top:20px;
}
.movie-description {
    background-color: rgba(255, 255, 255, 0.2);
    margin-left:315px;
    height:375px;
    border-radius: 5px;
    padding: 15px;
}

.round {
    border-radius: 10px;
    border: 5px #eaca4b;
    border-style:solid;
}

.image-round-left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.color1 {
    background-color: #273449;
}

#color2 {
    background-color: #45435E;
    width: 34%;
    height: 200px;
    float:left;
    padding: 0;
    margin: 0;
    border: 0;
    text-align: center;
}

#color3 {
    background-color: #5A586B;
    width: 33%;
    height: 200px;
    float:left;
    padding: 0;
    margin: 0;
    border: 0;
    text-align: center;
}
.color4 {
    background-color: #8F729E;
}




/*#movieFooter {
    background-color: #273449;
    width: 1000px;
    height: 50px;
    padding: 0;
    margin: 0;
    border-radius: 0 0 20px 20px;
    text-align: center;
    font-size: 32px;
} */

#loginContainer {
    color: #000;
    width: 1000px;
    height: 600px;
    padding: 0;
    margin: 0;
    border: 0px solid #000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: center;
}
.seat {
    width:25px;
    height: 25px;
    border-width: 2px;
    border-style: double;
    border-color: black;
}
.EMPTY {
    background-color: green;
}
.RESERVED {
    background-color:blue;
}
.PAID {
    background-color: red;
}





/* Popup container - modified version of https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_popup */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup - modified version of https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_popup
 absolute position to the movieContainer
 with same height and width, positioned 50 px down (under the header)
 */
.popup .popuptext {
    position: absolute;
    visibility: hidden;
    background-color: #45435E;
    color: #fff;
    text-align: center;
    top: 50px;
    left: 0;
    right: 0;
    width: 1000px;
    height: 500px;
}

/* Toggle this class - hide and show the popup - modified version of https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_popup*/
.popup .show {
    visibility: visible;
}

/* Custom table styling */
.cstm-tbl-bg {
    background-color: #273449; !important;
    color: #ffffff; !important;
    margin-top: 15px;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #3d4c64;
}