<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Menu</title>
</head>
<body>
<div th:fragment="menu">

    <nav class="navbar navbar-inverse" style="background-color: #273449; color: #fff; font-size: 30px" >
        <div style="float: left">
            <a href="/"><img src="https://imgur.com/jHTsJxu.jpg" style="height: 100px"/></a>
        </div>
        <div style="float: left; margin: 22px; width: 200px; height: auto; text-align: center">
            <h3> <a href ="/create-showing-info">CREATE</a></h3>

        </div>
        <div style="float: left; margin: 22px; width: 200px; height: auto; text-align: center">
            <h3>EDIT</h3>
        </div>
        <div th:if="${session.status == null}" style="float: right; margin: 22px; width: 200px; height: auto; text-align: center">
            <a href="/login"><h3>LOGIN</h3></a>
        </div>

        <div th:if="${session.status != null}" style="float: right; margin: 22px; width: 200px; height: auto; text-align: center">
            <a href="/logout"><h3>LOGOUT</h3></a>
        </div>
    </nav>

</div>
</body>
</html>