<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Menu</title>
</head>
<body>
<div th:fragment="menu">
    <div class="container">
    <nav class="navbar navbar-inverse" id="menu">
            <!-- Logo -->
            <div class="navbar-header">
                <a href=""><img src="https://imgur.com/jHTsJxu.jpg" class="navbar-brand image-round-left" alt="logo"/></a>
            </div>


            <!-- Menu Items -->
            <div>
                <ul class="nav navbar-nav">
                    <li class="dropdown" th:if="${session.status != null}"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Booking<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Create</a></li>
                            <li><a href="/view-booking">Vis/Opdater bookings</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" th:if="${session.status != null}"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Forestilling<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/create-showing-info">Opret forestilling</a></li>
                            <li><a href="/view-showings">Vis Opdater/forestilling</a></li>
                            <li><a href="/search-showing">Søg visning</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" th:if="${session.status != null}"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Film<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/create-movie">Opret film</a></li>
                            <li><a href="/view-movies">Vis/Opdater film</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" th:if="${session.status != null}"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Kiosk<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/view-products">Vis produkter</a></li>
                            <li><a href="/create-product">Opret produkt</a></li>
                            <li><a href="/update-product">Opdater
                                produkt</a></li>
                        </ul>
                    </li>
                    <li th:if="${session.status == null}"><a href="/login">Login</a></li>
                    <li th:if="${session.status != null}"><a href="/logout">Logout</a></li>
                </ul>
            </div>
    </nav>
    </div>
</div>
<!--
<li class="active"><a href="#">Home</a></li>
-->
</body>
</html>