<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Menu</title>
</head>
<body>
<div th:fragment="menu">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div style="float: left">
                <a href="/"><img src="https://imgur.com/jHTsJxu.jpg" style="height: 50px"/></a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Booking<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Create</a></li>
                        <li><a href="#">View / Update</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Showing<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Create</a></li>
                        <li><a href="#">View / Update</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Movie<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Create</a></li>
                        <li><a href="#">View / Update</a></li>
                    </ul>
                </li>
                <li th:if="${session.status == null}"><a href="/login">Login</a></li>
                <li th:if="${session.status != null}"><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>