<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
    <link rel="stylesheet" type="text/css" href="../static/main.css" />
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<div th:include="fragments/menu :: menu"></div>

<!--
<sf:select path="${cuisine}">
    <sf:options items="${cuisineList}" id="id" itemValue="name"></sf:options>
</sf:select>
-->
<form th:action="@{create-showing-info}" method="post" th:object="${showing}">

<div>
    vælg sal
    <select th:field="${showing.cinemaId}">
        <option th:each="cinema : ${cinemaList}" th:value="${cinema.id}" th:text="${cinema.id}"></option>
    </select>
</div>

<div>
    vælg dato
     <input type="datetime-local" th:field="${showing.time}"/>
     <!-- <input type="time"/> -->

</div>


<div>
    Vælg film

    <select th:field="${showing.movieId}">
        <option th:each="movie : ${movieList}" th:value="${movie.id}" th:text="${movie.title}"></option>
    </select>

</div>

    <input type="submit" value="send" />

</form>


<th:block th:include="fragments/footer :: scripts"></th:block>
</body>
</html>
