<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
    <link rel="stylesheet" type="text/css" href="../static/main.css" />
    <meta charset="UTF-8" />
    <title>Create Actor</title>
</head>

<body>
<div th:include="fragments/menu :: menu"></div>
<div id ="bodyContainer">
    <h2 style="color: #fff;">Create actor</h2>
    <form method="POST" action="/create-actor">
        <input type="text" name="name" value="name"/>
        <input type="submit"  value="Create Actor"/>
    </form>

</div>
<th:block th:include="fragments/footer :: scripts"></th:block>
</body>
</html>