<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head">
        <link rel="stylesheet" type="text/css" href="../static/main.css" />
        <title>Title</title>
    </head>

    <body>
    <div th:include="fragments/menu :: menu"></div>
    <div class="container fill">

    <!-- Farve demo (udkommenteret til fremvisning)
    <p>Farve demo til Kino XP</p>
    <div id="movieTestContainer">
        <div id="color1">#273449</div>
        <div id="color2">#45435E</div>
        <div id="color3">#5A586B</div>
    </div>
    <p>En design demo til Kino XP</p>
    -->
        <div th:each="movie : ${movieList}" th:class="row">
            <div>
                <img th:src="@{/files/images/posters/} + ${movie.imdbId + '.jpg'}" />
            </div>
            <div>
                <h2 th:class="text-center" th:text="${movie.title}"></h2>
                <table>
                    <tbody>
                        <tr th:class="text-left">
                            <td>Beskrivelse: </td>
                            <td th:text="${movie.description}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--<div th:each="movie : ${movieList}">
            <div id="movie-container">
                <div id="movie-Header" th:text="${movie.title}"></div>
                <div id="movieContent">
                    <div id="contentLeft">
                        <!-- th:href="@{/update-showing(showingId=${showing.id})} -->
                        <!--<img th:src="@{/files/images/posters/} + ${movie.imdbId + '.jpg'}" />-->
                        <!--<img th:src="@{/images/black-panther.jpg}" height="100%" width="100%" />-->
                    <!--</div>
                    <div id="contentRight" >
                        <p th:text="${movie.description}"></p>
                        <br/>
                            <div th:each="i: ${movie.getActors()}">
                            <p th:text="${i.name}"></p>
                        </div>
                    </div>
                </div>
                <div id="movieFooter"> <p th:text="${movie.runtime}" style="float: left"></p> <p th:text="${movie.age}"></p></div>
            </div>
        </div> -->

    <br/>
</div>
<th:block th:include="fragments/footer :: scripts"></th:block>
</body>
</html>
