<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head">
        <link rel="stylesheet" type="text/css" href="../static/main.css" />
        <title>Title</title>
    </head>

    <body>
    <div th:include="fragments/menu :: menu"></div>
    <div class="container fill">

    <!-- Farve demo (udkommenteret til fremvisning)
    <p>Farve demo til Kino XP</p>
    <div id="movieTestContainer">
        <div id="color1">#273449</div>
        <div id="color2">#45435E</div>
        <div id="color3">#5A586B</div>
    </div>
    <p>En design demo til Kino XP</p>
    -->

        <div th:each="movie : ${movieList}" class="row movie-block">
            <div class="col-md-10 col-md-offset-1 color4 round">
                <div class="pull-left">
                    <img th:src="@{/files/images/posters/} + ${movie.imdbId + '.jpg'}" width="300" height="450" />
                </div>
                <div>
                    <h2 th:class="text-center" th:text="${movie.title}"></h2>
                    <div class="movie-description">
                        <p>Spilletid: <b th:text="${movie.runtime}"></b></p>
                        <p>Beskrivelse:</p>
                        <blockquote th:text="${movie.description}"></blockquote>
                        <p>Skuespillere:</p>
                        <ul th:each="i: ${movie.getActors()}">
                            <li th:text="${i.name}"></li>
                        </ul>

                        <br />
                        <p>Aldersgrænse: <b th:text="${movie.age}"></b></p>
                    </div>
                </div>
            </div>
        </div>

    <br/>
</div>
<th:block th:include="fragments/footer :: scripts"></th:block>
</body>
</html>
