<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>


    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/main.css" />
    <title>søg visninger</title>

</head>
<div th:include="fragments/menu :: menu"></div>

<body>
<form th:action="@{search-showing}" th:method="post" th:object="${dateFormat}">
<div>

<div class="form-group form-inline">
    <input type="date" th:field="${dateFormat.date}" th:value="${dateFormat.date}">
    <input type="submit" value="Søg!"/>
</div>
    <table class = "table">
        <tr>
            <th>Film</th>
            <th>Tidspunkt</th>
            <th>Sal Nr.</th>
        </tr>
        <tr th:each="showing:${searchedResults}">
            <td th:text="${showing.movie?.title}"></td>
            <td th:text="${showing.time}"></td>
            <td th:text="${showing.cinema?.id}"></td>
        </tr>

    </table>

</div>

</form>

<th:block th:include="fragments/footer :: scripts"></th:block>
</body>
</html>