<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>


    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/main.css" />
    <title>søg visninger</title>

</head>

<body>

<div th:include="fragments/menu :: menu"></div>

    <div class="container fill">
        <form th:action="@{search-showing}" th:method="post" th:object="${dateFormat}">

        <div class="form-group input-group">
            <span class="input-group-addon input-group-addon-uniform custom-movie custom-white"><i class="glyphicons glyphicons-fast-food"></i> Film titel</span>
            <input type="date" th:field="${dateFormat.date}" th:value="${dateFormat.date}">
            <input class="btn btn-primary" type="submit" value="Søg" />
        </div>

    <table class = "table">
        <tr>
            <th style="color: white">Film</th>
            <th style="color: white">Tidspunkt</th>
            <th style="color: white">Sal Nr.</th>
        </tr>
        <tr th:each="showing:${searchedResults}">
            <td style="color: white" th:text="${showing.movie?.title}"></td>
            <td style="color: white" th:text="${showing.time}"></td>
            <td style="color: white" th:text="${showing.cinema?.id}"></td>
        </tr>
    </table>
</form>
</div>

<th:block th:include="fragments/footer :: scripts"></th:block>
</body>
</html>