<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head">
    <link rel="stylesheet" type="text/css" href="../static/main.css" />
    <meta charset="UTF-8" />
    <title>Kino</title>
</head>
<body>
<div>
    <table>
        <tbody>
            <tr th:each="i: ${#numbers.sequence(0, cinema.rows-1)}">
                <td th:each="i: ${#numbers.sequence(0, cinema.columns-1)}">hej</td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>