<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head">
    <link rel="stylesheet" type="text/css" href="../static/main.css" />
    <meta charset="UTF-8" />
    <title>Kino</title>
</head>
<body>
<div>
    <table>
        <caption>Sal 1</caption>
        <tr>
            <th></th>
            <th>Sæde 1</th>
            <th>Sæde 2</th>
            <th>Sæde 3</th>
            <th>Sæde 4</th>
            <th>Sæde 5</th>
        </tr>
        <tr>
            <td>Række1</td>
            <th></th>
        </tr>
        <tr>
            <td>Række2</td>
            <th></th>
        </tr>
        <tr>
            <td>Række3</td>
        </tr>
        <tr>
            <td>Række4</td>
        </tr>
    </table>
</div>

</body>
</html>