<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head">
    <link rel="stylesheet" type="text/css" href="../static/main.css" />
    <title>Opdater dat shit</title>

</head>

<body>
<div th:include="fragments/menu :: menu"></div>
<div class="container fill">

    <form th:action="@{/update-showing(showingId=${showing.id})}" th:method="POST" th:object="${showing}">
        <fieldset>
        <div>

                <div class="form-group input-group">
                    <span class="input-group-addon input-group-addon-uniform custom-movie custom-white"><i class="glyphicon glyphicon-film custom-white"></i> Titel på film</span>
                    <input class="form-control" disabled th:field="${showing.movieTitle}" th:placeholder="${showing.movieTitle}" />
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon input-group-addon-uniform custom-movie custom-white"><i class="glyphicon glyphicon-calendar custom-white"></i> Tidspunkt</span>
                    <input class="form-control" th:field="${showing.time}" th:value="${showing.time}" th:placeholder="${showing.time}" />
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon input-group-addon-uniform custom-movie custom-white"><i class="glyphicon glyphicon-blackboard custom-white"></i> Sal</span>
                    <input class="form-control" th:field="${showing.cinemaId}" th:value="${showing.cinemaId}" th:placeholder="${showing.cinemaId}" />
                </div>


        </div>

        </fieldset>

            <div style="text-align: center">
            <input type="submit" value="Gem" />
            </div>
    </form>


</div>


<th:block th:include="fragments/footer :: scripts"></th:block>
</body>
</html>