<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head">
    <link rel="stylesheet" type="text/css" href="../static/main.css" />
    <title>Opdater dat shit</title>

</head>

    <body>
<div th:include="fragments/menu :: menu"></div>
<div class="container fill">

    <form style="margin-top: 15px; margin-bottom: 15px" th:action="@{/update-movie(movieId=${movie.id})}" th:method="POST" th:object="${movie}">
        <fieldset>
            <div  class="form-group input-group">
                <span class="input-group-addon input-group-addon-uniform custom-movie custom-white"><i class="glyphicon glyphicon-film custom-white"></i> Titel</span>
                <input class="form-control" placeholder="Titel" type="text" th:field="${movie.title}"/>

            </div>
            <div class="form-group input-group">
                <span class="input-group-addon input-group-addon-uniform custom-movie custom-white"><i class="glyphicon glyphicon-list-alt custom-white"></i> Beskrivelse</span>
                <input class="form-control" placeholder="Beskrivelse" type="text" th:field="${movie.description}"/>

            </div>
            <div class="form-group input-group">
                <span class="input-group-addon input-group-addon-uniform custom-movie custom-white"><i class="glyphicon glyphicon-eye-open custom-white"></i> Aldergrænse</span>
                <input class="form-control" placeholder="Aldersgrænse" type="text" th:field="${movie.age}"/>

            </div>
            <div class="form-group input-group">
                <span class="input-group-addon input-group-addon-uniform custom-movie custom-white"><i class="glyphicon glyphicon-link custom-white"></i> URL</span>
                <input class="form-control" placeholder="URL" type="text" th:field="${movie.posterPath}"/>

            </div>
            <div class="form-group input-group">
                <span class="input-group-addon input-group-addon-uniform custom-movie custom-white"><i class="glyphicon glyphicon-hourglass custom-white"></i> Spilletid</span>
                <input class="form-control" placeholder="Spilletid" type="text" th:field="${movie.runtime}"/>

            </div>
        </fieldset>
        <!--<div>
            <table>
                <tr>
                    <td>Titel</td><td><input th:field="${movie.title}" th:placeholder="${movie.title}" /></td>
                </tr>
                <tr>
                    <td>Beskrivelse</td><td><input th:field="${movie.description}" th:value="${movie.description}" th:placeholder="${movie.description}" /></td>
                </tr>
                <tr>
                    <td>Aldersgrænse</td><td><input th:field="${movie.age}" th:value="${movie.age}" th:placeholder="${movie.age}" /></td>
                </tr>
                <tr>
                    <td>Plakat URL</td><td><input th:field="${movie.posterPath}" th:value="${movie.posterPath}" th:placeholder="${movie.posterPath}" /></td>
                </tr>
                <tr>
                    <td>Spilletid</td><td><input th:field="${movie.runtime}" th:value="${movie.runtime}" th:placeholder="${movie.runtime}" /></td>
                </tr>
            </table>

        </div> -->
        <div style="text-align: center">
            <input class="btn btn-primary" type="submit" value="Gem" />
        </div>
    </form>


</div>


<th:block th:include="fragments/footer :: scripts"></th:block>
</body>
</html>