<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="fragments/header :: head">
        <link rel="stylesheet" type="text/css" href="../static/main.css" />
    <title>Opdater dat shit</title>

</head>

<body>
<div th:include="fragments/menu :: menu"></div>
<div class="container fill">
    <table class="table table-hover cstm-tbl-bg">
        <thead>
        <tr>
            <th>ID</th>
            <th>Tidspunkt</th>
            <th>Sal nr.</th>
            <th>Film</th>
        </tr>
        </thead>
        <tbody>
        <!-- <a th:href="@{/order/list}"> -%->
        <!--<a th:href="@{/order/details(id=3)}"-->
        <tr th:each="showing : ${showingList}">
            <td th:text="${showing.id}"></td>
            <td th:text="${showing.time}"></td>
            <td th:text="${showing.cinema.id}"></td>
            <td th:text="${showing.movie.title}"></td>

            <td class="custom-edit"><a class="btn btn-primary" th:href="@{/update-showing(showingId=${showing.id})}" th:text="Rediger"></a>
                <a class="btn btn-danger" th:href="@{/delete-showing(showingId=${showing.id})}" th:text="Slet"></a></td>
        </tr>
        </tbody>
    </table>
</div>

<!--<form modelAttribute="showings" th:action="@{update-showing}" method="post" action="/update-showing" th:object="${showingList}">

    <div th:each="showing : ${showingList}">

        <input disabled th:value="${showing.id}" th:placeholder="${showing.id}" >
        <input disabled th:value="${showing.movie?.title}" th:placeholder="${showing.movie?.title}">
        <input th:value ="${showing.time}" th:placeholder="${showing.time}">
        <input th:value ="${showing.cinema?.id}" th:placeholder="${showing.cinema?.id}">

    </div>
    <input type="submit" value="Gem">

</form>-->
<th:block th:include="fragments/footer :: scripts"></th:block>
</body>
</html>